{% extends "layout.html" %}
{% block content  %}
<div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Generador</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Grafica</a>
            </li>
          </ul>
        </div>
        <div class="card-body">          
            <center>
                <img src="data:image/png;base64,{{imagen.imagen}}">
            </center>
        </div>
      </div>


{% endblock %}
